<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<form class="login-form">
  <h2>Login</h2>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
<a href='/register'><button>Don't have an account?</button></a>

<script src="/javascript/login.js"></script>